# Loops and Conditions

loops provides the methods of iteration while condition allows or blocks the code execution when specified condition
is meet.

For Loop and while Loop

In [1]:
L = ['apple', 'banana','kite','cellphone']
for item in L:
    print(item)

apple
banana
kite
cellphone

In [3]:
range(5), range(5,100), sum(range(100))

(range(0, 5), range(5, 100), 4950)

In [7]:
L=[]
for k in range(10):
    L.append(10*k)
L

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [14]:
D = {}
for i in range(5):
    for j in range(5):
        if i == j :
            D.update({(i,j) : 10*i+j})
        elif i!=j :
            D.update({(i,j): 100*i+j})
print(D)

{(0, 0): 0, (0, 1): 1, (0, 2): 2, (0, 3): 3, (0, 4): 4, (1, 0): 100, (1, 1): 11, (1, 2): 102, (1, 3): 103, (1, 4): 104, (2, 0): 200, (2, 1): 201, (2, 2): 22, (2, 3): 203, (2, 4): 204, (3, 0): 300, (3, 1): 301, (3, 2): 302, (3, 3): 33, (3, 4): 304, (4, 0): 400, (4, 1): 401, (4, 2): 402, (4, 3): 403, (4, 4): 44}

In [16]:
for i, item in enumerate(['apple', 'banana','kite','cellphone']):
    print("The",i,"th element is:", item)

The 0 th element is: apple
The 1 th element is: banana
The 2 th element is: kite
The 3 th element is: cellphone

In [23]:
A=[10*k**2+5*k+1 for k in range(10)]
print(A)

[1, 16, 51, 106, 181, 276, 391, 526, 681, 856]

In [27]:
AA=[[10*x**2+5*y+1 for x in range(3)] for y in range(3)]
print(AA)

[[1, 11, 41], [6, 16, 46], [11, 21, 51]]

In [28]:
for i in range(3):
    for j in range(3):
        print("The", "(",i,",",j,")","th element is: ", AA[i][j])

The ( 0 , 0 ) th element is:  1
The ( 0 , 1 ) th element is:  11
The ( 0 , 2 ) th element is:  41
The ( 1 , 0 ) th element is:  6
The ( 1 , 1 ) th element is:  16
The ( 1 , 2 ) th element is:  46
The ( 2 , 0 ) th element is:  11
The ( 2 , 1 ) th element is:  21
The ( 2 , 2 ) th element is:  51

In [29]:
i=0
while i<5:
    print( i, "th turn")
    i = i+1

0 th turn
1 th turn
2 th turn
3 th turn
4 th turn

In [30]:
for i in range(10):
    print(i)
    if i == 3:
        break

0
1
2
3

In [32]:
import random as random
for i in range(10):
    r = random.uniform(1,10)
    if r<2 and r>0:
        print("It is smaller than 2 and greater than 1","|",r)
    elif r<4 and r>2:
        print("It is smaller than 4 and greater than 2","|",r)
    elif r<6 and r>4:
        print("It is smaller tha 6 and greater than 4","|",r)
    elif r<8 and r>6:
        print("It is smaller than 8 and greate than 6","|",r)
    elif r<10 and r>8:
        print("It is smaller than 10 and greater than 8","|",r)

It is smaller than 8 and greate than 6 | 7.776816896801124
It is smaller than 10 and greater than 8 | 8.900894365576073
It is smaller than 10 and greater than 8 | 8.303922292796068
It is smaller than 2 and greater than 1 | 1.9805026109354515
It is smaller than 4 and greater than 2 | 2.642984031672224
It is smaller than 4 and greater than 2 | 2.3577860630219387
It is smaller than 4 and greater than 2 | 2.707988363790994
It is smaller tha 6 and greater than 4 | 4.950782515186212
It is smaller tha 6 and greater than 4 | 4.474577783554499
It is smaller than 8 and greate than 6 | 6.260661038808822

In [33]:
s = 0
for i in range(1000+1):
    s = s+i
s

500500

In [34]:
s = 0
LE = []
for i in range(1001):
    if i%2 ==0:
        LE.append(i)
        s= s+i
s, sum(LE)

(250500, 250500)